@(clienteForm : Form[model.entidade.Cliente])
@import helper._

<html>
	<head>
		<title>Cadatrar Cliente - Doutor Carango</title>
	</head>
	<body>
		<h1>Cadastro de Cliente</h1>
		@helper.form(action = helper.CSRF(routes.ClientesController.adicionarCliente())){
			<p>
				<label for="nome"><b>Nome:</b></label>
				<input type="text" id="nome" name="Nome">
			</p>
			<p>
				<label for="login"><b>Login:</b></label>
				<input type="text" id="login" name="Login">
			</p>
			<p>
				<label for="senha"><b>Senha:</b></label>
				<input type="text" id="senha" name="Senha">
			</p>
			<input type="submit" value="Cadastrar">
		}
		<p><a href="/clientes/">Voltar para a lista de Clientes</a></p>
	</body>
</html>