@(logado : model.entidade.Usuario, oficina: model.entidade.Oficina)

<html>
	<head>
		<title>@oficina.getNome() - Doutor Carango</title>
	</head>
	<body>
		<h1>Oficina: @oficina.getNome()</h1>
		@MenuLogin(logado)
		<p><b>Código:</b> @oficina.getId()</p>
		<p><b>Endereço:</b> @oficina.getEndereco()</p>
		<p>
			<b>Média de Avaliações:</b>
			<a href="/oficinas/info/@oficina.getId()/avaliar/">Avaliar esta oficina</a><br>
			Agilidade: @oficina.getNotaAgilidade()<br>
			Preço: @oficina.getNotaPreco()<br>
			Qualidade: @oficina.getNotaQualidade()
		</p>
		<p>
			<b>Comentários:</b>
		</p>
		TODO
		<p><a href="/oficinas/">Voltar para a lista de Oficinas</a></p>
	</body>
</html>